In [1]:
from pyagnps import annagnps
from pathlib import Path

import pandas as pd

import importlib

Please install GDAL (see install_gdal.py). The subannagnps module will not work without it
Please install GDAL (see install_gdal.py). The topagnps module will not work without it

In [2]:
sim_root_dir = Path('../../inputs/annagnps/test_1_reach_annagnps_outputs')
# sim_root_dir = Path('C:/Users/Luc/Desktop/test_oow2/mini_watersheds/reach_0000095625')

In [3]:
data = annagnps.read_all_annagnps_output_files(sim_root_dir, prepare_for_db=True, thuc_id='3011')

In [4]:
list(data.keys())

['AnnAGNPS_AA',
 'AnnAGNPS_AA_Sediment_erosion_UA_RR_Total',
 'AnnAGNPS_AA_Sediment_yield_UA_RR_Total',
 'AnnAGNPS_AA_Water_yield_UA_RR_Total']

In [32]:
data['AnnAGNPS_AA_Water_yield_UA_RR_Total']

,description,total_yield_by_mass_mg_per_yr,cell_id,rank,cell_drainage_area_hectare,accumulated_contributing_cell_area_percent,cell_yield_by_unit_area_mm_per_year,yield_unit_area_ranking_ratio,cell_yield_by_mass_mg_per_yr,cell_yield_by_mass_percent,accumulated_contributing_cell_yield_percent,thuc_id
0,Water_Total,64420.991,54642,1,2.1600,25.26,1533.33,2.035,33119.932,51.41,51.41,3011
1,Water_Total,64420.991,0,2,0.0001,25.26,1533.33,2.035,1.533,0.00,51.41,3011
2,Water_Total,64420.991,54643,3,6.3900,100.00,489.82,0.650,31299.526,48.59,100.00,3011

# Annual Averages (N, OC, P)

In [33]:
df = data['AnnAGNPS_AA']
df.head()

,cell_id,receiving_reach_id,drainage_area_ha,attached_n_kg_ha_yr,dissolved_n_kg_ha_yr,attached_oc_kg_ha_yr,dissolved_oc_kg_ha_yr,attached_p_kg_ha_yr,dissolved_p_kg_ha_yr,thuc_id
0,0,5464,0.00,0.000,0.000,0.000,0.0,0.000,0.000,3011
1,54642,5464,2.16,0.000,0.000,0.000,0.0,0.000,0.000,3011
2,54643,5464,6.39,0.284,6.461,1.852,0.0,0.072,9.984,3011

# Sediment yield

In [34]:
df1 = data['AnnAGNPS_AA_Sediment_yield_UA_RR_Total']
df1.head()

,description,total_yield_by_mass_mg_per_yr,cell_id,rank,cell_drainage_area_hectare,accumulated_contributing_cell_area_percent,cell_yield_by_unit_area_mg_per_hectare_per_year,yield_unit_area_ranking_ratio,cell_yield_by_mass_mg_per_yr,cell_yield_by_mass_percent,accumulated_contributing_cell_yield_percent,thuc_id
0,Sediment_Total_All_Sources,0.221,54643,1,6.3900,74.74,0.035,1.338,0.221,100.0,100.0,3011
1,Sediment_Total_All_Sources,0.221,0,2,0.0001,74.74,0.000,0.000,0.000,0.0,100.0,3011
2,Sediment_Total_All_Sources,0.221,54642,3,2.1600,100.00,0.000,0.000,0.000,0.0,100.0,3011
0,Sediment_Total_Clay,0.107,54643,1,6.3900,74.74,0.017,1.338,0.107,100.0,100.0,3011
1,Sediment_Total_Clay,0.107,0,2,0.0001,74.74,0.000,0.000,0.000,0.0,100.0,3011

In [35]:
df1.groupby(['thuc_id', 'description', 'cell_id']).sum()

                                                       total_yield_by_mass_mg_per_yr  \
thuc_id description                           cell_id
3011    Sediment_Total_All_Sources            0                                0.221
                                              54642                            0.221
                                              54643                            0.221
        Sediment_Total_Clay                   0                                0.107
                                              54642                            0.107
                                              54643                            0.107
        Sediment_Total_Gully                  0                                0.000
                                              54642                            0.000
                                              54643                            0.000
        Sediment_Total_Sand                   0                                0.018
                                              54642                            0.018
                                              54643                            0.018
        Sediment_Total_Silt                   0                                0.097
                                              54642                            0.097
                                              54643                            0.097
        Sediment_Total_SnR                    0                                0.221
                                              54642                            0.221
                                              54643                            0.221
        Sediment_Total_SnR_and_Gully_and_Pond 0                                0.221
                                              54642                            0.221
                                              54643                            0.221

                                                       rank  \
thuc_id description                           cell_id
3011    Sediment_Total_All_Sources            0           2
                                              54642       3
                                              54643       1
        Sediment_Total_Clay                   0           2
                                              54642       3
                                              54643       1
        Sediment_Total_Gully                  0           1
                                              54642       2
                                              54643       3
        Sediment_Total_Sand                   0           2
                                              54642       3
                                              54643       1
        Sediment_Total_Silt                   0           2
                                              54642       3
                                              54643       1
        Sediment_Total_SnR                    0           2
                                              54642       3
                                              54643       1
        Sediment_Total_SnR_and_Gully_and_Pond 0           2
                                              54642       3
                                              54643       1

                                                       cell_drainage_area_hectare  \
thuc_id description                           cell_id
3011    Sediment_Total_All_Sources            0                            0.0001
                                              54642                        2.1600
                                              54643                        6.3900
        Sediment_Total_Clay                   0                            0.0001
                                              54642                        2.1600
                                              54643                        6.3900
        Sediment_Total_Gully                  0                            0.0001
                                              54642                        2.1600
                                              54643                        6.3900
        Sediment_Total_Sand                   0                            0.0001
                                              54642                        2.1600
                                              54643                        6.3900
        Sediment_Total_Silt                   0                            0.0001
                                              54642                        2.1600
                                              54643                        6.3900
        Sediment_Total_SnR                    0                            0.0001
                                              54642                        2.1600
                                              54643                        6.3900
        Sediment_Total_SnR_and_Gully_and_Pond 0                            0.0001
                                              54642                        2.1600
                                              54643                        6.3900

                                                       accumulated_contributing_cell_area_percent  \
thuc_id description                           cell_id
3011    Sediment_Total_All_Sources            0                                             74.74
                                              54642                                        100.00
                                              54643                                         74.74
        Sediment_Total_Clay                   0                                             74.74
                                              54642                                        100.00
                                              54643                                         74.74
        Sediment_Total_Gully                  0                                              0.00
                                              54642                                         25.26
                                              54643                                        100.00
        Sediment_Total_Sand                   0                                             74.74
                                              54642                                        100.00
                                              54643                                         74.74
        Sediment_Total_Silt                   0                                             74.74
                                              54642                                        100.00
                                              54643                                         74.74
        Sediment_Total_SnR                    0                                             74.74
                                              54642                                        100.00
                                              54643                                         74.74
        Sediment_Total_SnR_and_Gully_and_Pond 0                                             74.74
                                              54642                                        100.00
                                              54643                                         74.74

                                                       cell_yield_by_unit_area_mg_per_hectare_per_year  \
thuc_id description                           cell_id
3011    Sediment_Total_All_Sources            0                                                  0.000
                                              54642                                              0.000
                                              54643                                              0.035
        Sediment_Total_Clay                   0                                                  0.000
                                              54642                                              0.000
                                              54643                                              0.017
        Sediment_Total_Gully                  0                                                  0.000
                                              54642                                              0.000
                                              54643                                              0.000
        Sediment_Total_Sand                   0                                                  0.000
                                              54642                                              0.000
                                              54643                                              0.003
        Sediment_Total_Silt                   0                                                  0.000
                                              54642                                              0.000
                                              54643                                              0.015
        Sediment_Total_SnR                    0                                                  0.000
                                              54642                                              0.000
                                              54643                                              0.035
        Sediment_Total_SnR_and_Gully_and_Pond 0                                                  0.000
                                              54642                                              0.000
                                              54643                                              0.035

                                                       yield_unit_area_ranking_ratio  \
thuc_id description                           cell_id
3011    Sediment_Total_All_Sources            0                                0.000
                                              54642                            0.000
                                              54643                            1.338
        Sediment_Total_Clay                   0                                0.000
                                              54642                            0.000
                                              54643                            1.338
        Sediment_Total_Gully                  0                                0.000
                                              54642                            0.000
                                              54643                            0.000
        Sediment_Total_Sand                   0                                0.000
                                              54642                            0.000
                                              54643                            1.338
        Sediment_Total_Silt                   0                                0.000
                                              54642                            0.000
                                              54643                            1.338
        Sediment_Total_SnR                    0                                0.000
                                              54642                            0.000
                                              54643                            1.338
        Sediment_Total_SnR_and_Gully_and_Pond 0                                0.000
                                              54642                            0.000
                                              54643                            1.338

                                                       cell_yield_by_mass_mg_per_yr  \
thuc_id description                           cell_id
3011    Sediment_Total_All_Sources            0                               0.000
                                              54642                           0.000
                                              54643                           0.221
        Sediment_Total_Clay                   0                               0.000
                                              54642                           0.000
                                              54643                           0.107
        Sediment_Total_Gully                  0                               0.000
                                              54642                           0.000
                                              54643                           0.000
        Sediment_Total_Sand                   0                               0.000
                                              54642                           0.000
                                              54643                           0.018
        Sediment_Total_Silt                   0                               0.000
                                              54642                           0.000
                                              54643                           0.097
        Sediment_Total_SnR                    0                               0.000
                                              54642                           0.000
                                              54643                           0.221
        Sediment_Total_SnR_and_Gully_and_Pond 0                               0.000
                                              54642                           0.000
                                              54643                           0.221

                                                       cell_yield_by_mass_percent  \
thuc_id description                           cell_id
3011    Sediment_Total_All_Sources            0                               0.0
                                              54642                           0.0
                                              54643                         100.0
        Sediment_Total_Clay                   0                               0.0
                                              54642                           0.0
                                              54643                         100.0
        Sediment_Total_Gully                  0                               0.0
                                              54642                           0.0
                                              54643                           0.0
        Sediment_Total_Sand                   0                               0.0
                                              54642                           0.0
                                              54643                         100.0
        Sediment_Total_Silt                   0                               0.0
                                              54642                           0.0
                                              54643                         100.0
        Sediment_Total_SnR                    0                               0.0
                                              54642                           0.0
                                              54643                         100.0
        Sediment_Total_SnR_and_Gully_and_Pond 0                               0.0
                                              54642                           0.0
                                              54643                         100.0

                                                       accumulated_contributing_cell_yield_percent
thuc_id description                           cell_id
3011    Sediment_Total_All_Sources            0                                              100.0
                                              54642                                          100.0
                                              54643                                          100.0
        Sediment_Total_Clay                   0                                              100.0
                                              54642                                          100.0
                                              54643                                          100.0
        Sediment_Total_Gully                  0                                                0.0
                                              54642                                            0.0
                                              54643                                            0.0
        Sediment_Total_Sand                   0                                              100.0
                                              54642                                          100.0
                                              54643                                          100.0
        Sediment_Total_Silt                   0                                              100.0
                                              54642                                          100.0
                                              54643                                          100.0
        Sediment_Total_SnR                    0                                              100.0
                                              54642                                          100.0
                                              54643                                          100.0
        Sediment_Total_SnR_and_Gully_and_Pond 0                                              100.0
                                              54642                                          100.0
                                              54643                                          100.0

# Sediment erosion

In [36]:
df2 = data['AnnAGNPS_AA_Sediment_erosion_UA_RR_Total']
df2.head()

,description,total_erosion_by_mass_mg_per_yr,cell_id,rank,cell_drainage_area_hectare,accumulated_contributing_cell_area_percent,cell_erosion_by_unit_area_mg_per_hectare_per_year,erosion_unit_area_ranking_ratio,cell_erosion_by_mass_mg_per_yr,cell_erosion_by_mass_percent,accumulated_contributing_cell_erosion_percent,thuc_id
0,Erosion_Total_All_Sources,0.470,54643,1,6.3900,74.74,0.073,1.338,0.470,100.0,100.0,3011
1,Erosion_Total_All_Sources,0.470,0,2,0.0001,74.74,0.000,0.000,0.000,0.0,100.0,3011
2,Erosion_Total_All_Sources,0.470,54642,3,2.1600,100.00,0.000,0.000,0.000,0.0,100.0,3011
0,Erosion_Total_Clay,0.038,54643,1,6.3900,74.74,0.006,1.338,0.038,100.0,100.0,3011
1,Erosion_Total_Clay,0.038,0,2,0.0001,74.74,0.000,0.000,0.000,0.0,100.0,3011

In [37]:
df2.groupby(['thuc_id', 'description', 'cell_id']).sum()

                                                      total_erosion_by_mass_mg_per_yr  \
thuc_id description                          cell_id
3011    Erosion_Total_All_Sources            0                                  0.470
                                             54642                              0.470
                                             54643                              0.470
        Erosion_Total_Clay                   0                                  0.038
                                             54642                              0.038
                                             54643                              0.038
        Erosion_Total_Gully                  0                                  0.000
                                             54642                              0.000
                                             54643                              0.000
        Erosion_Total_Large_Aggregate        0                                  0.248
                                             54642                              0.248
                                             54643                              0.248
        Erosion_Total_Sand                   0                                  0.026
                                             54642                              0.026
                                             54643                              0.026
        Erosion_Total_Silt                   0                                  0.020
                                             54642                              0.020
                                             54643                              0.020
        Erosion_Total_Small_Aggregate        0                                  0.138
                                             54642                              0.138
                                             54643                              0.138
        Erosion_Total_SnR                    0                                  0.470
                                             54642                              0.470
                                             54643                              0.470
        Erosion_Total_SnR_and_Gully_and_Pond 0                                  0.470
                                             54642                              0.470
                                             54643                              0.470

                                                      rank  \
thuc_id description                          cell_id
3011    Erosion_Total_All_Sources            0           2
                                             54642       3
                                             54643       1
        Erosion_Total_Clay                   0           2
                                             54642       3
                                             54643       1
        Erosion_Total_Gully                  0           1
                                             54642       2
                                             54643       3
        Erosion_Total_Large_Aggregate        0           2
                                             54642       3
                                             54643       1
        Erosion_Total_Sand                   0           2
                                             54642       3
                                             54643       1
        Erosion_Total_Silt                   0           2
                                             54642       3
                                             54643       1
        Erosion_Total_Small_Aggregate        0           2
                                             54642       3
                                             54643       1
        Erosion_Total_SnR                    0           2
                                             54642       3
                                             54643       1
        Erosion_Total_SnR_and_Gully_and_Pond 0           2
                                             54642       3
                                             54643       1

                                                      cell_drainage_area_hectare  \
thuc_id description                          cell_id
3011    Erosion_Total_All_Sources            0                            0.0001
                                             54642                        2.1600
                                             54643                        6.3900
        Erosion_Total_Clay                   0                            0.0001
                                             54642                        2.1600
                                             54643                        6.3900
        Erosion_Total_Gully                  0                            0.0001
                                             54642                        2.1600
                                             54643                        6.3900
        Erosion_Total_Large_Aggregate        0                            0.0001
                                             54642                        2.1600
                                             54643                        6.3900
        Erosion_Total_Sand                   0                            0.0001
                                             54642                        2.1600
                                             54643                        6.3900
        Erosion_Total_Silt                   0                            0.0001
                                             54642                        2.1600
                                             54643                        6.3900
        Erosion_Total_Small_Aggregate        0                            0.0001
                                             54642                        2.1600
                                             54643                        6.3900
        Erosion_Total_SnR                    0                            0.0001
                                             54642                        2.1600
                                             54643                        6.3900
        Erosion_Total_SnR_and_Gully_and_Pond 0                            0.0001
                                             54642                        2.1600
                                             54643                        6.3900

                                                      accumulated_contributing_cell_area_percent  \
thuc_id description                          cell_id
3011    Erosion_Total_All_Sources            0                                             74.74
                                             54642                                        100.00
                                             54643                                         74.74
        Erosion_Total_Clay                   0                                             74.74
                                             54642                                        100.00
                                             54643                                         74.74
        Erosion_Total_Gully                  0                                              0.00
                                             54642                                         25.26
                                             54643                                        100.00
        Erosion_Total_Large_Aggregate        0                                             74.74
                                             54642                                        100.00
                                             54643                                         74.74
        Erosion_Total_Sand                   0                                             74.74
                                             54642                                        100.00
                                             54643                                         74.74
        Erosion_Total_Silt                   0                                             74.74
                                             54642                                        100.00
                                             54643                                         74.74
        Erosion_Total_Small_Aggregate        0                                             74.74
                                             54642                                        100.00
                                             54643                                         74.74
        Erosion_Total_SnR                    0                                             74.74
                                             54642                                        100.00
                                             54643                                         74.74
        Erosion_Total_SnR_and_Gully_and_Pond 0                                             74.74
                                             54642                                        100.00
                                             54643                                         74.74

                                                      cell_erosion_by_unit_area_mg_per_hectare_per_year  \
thuc_id description                          cell_id
3011    Erosion_Total_All_Sources            0                                                    0.000
                                             54642                                                0.000
                                             54643                                                0.073
        Erosion_Total_Clay                   0                                                    0.000
                                             54642                                                0.000
                                             54643                                                0.006
        Erosion_Total_Gully                  0                                                    0.000
                                             54642                                                0.000
                                             54643                                                0.000
        Erosion_Total_Large_Aggregate        0                                                    0.000
                                             54642                                                0.000
                                             54643                                                0.039
        Erosion_Total_Sand                   0                                                    0.000
                                             54642                                                0.000
                                             54643                                                0.004
        Erosion_Total_Silt                   0                                                    0.000
                                             54642                                                0.000
                                             54643                                                0.003
        Erosion_Total_Small_Aggregate        0                                                    0.000
                                             54642                                                0.000
                                             54643                                                0.022
        Erosion_Total_SnR                    0                                                    0.000
                                             54642                                                0.000
                                             54643                                                0.073
        Erosion_Total_SnR_and_Gully_and_Pond 0                                                    0.000
                                             54642                                                0.000
                                             54643                                                0.073

                                                      erosion_unit_area_ranking_ratio  \
thuc_id description                          cell_id
3011    Erosion_Total_All_Sources            0                                  0.000
                                             54642                              0.000
                                             54643                              1.338
        Erosion_Total_Clay                   0                                  0.000
                                             54642                              0.000
                                             54643                              1.338
        Erosion_Total_Gully                  0                                  0.000
                                             54642                              0.000
                                             54643                              0.000
        Erosion_Total_Large_Aggregate        0                                  0.000
                                             54642                              0.000
                                             54643                              1.338
        Erosion_Total_Sand                   0                                  0.000
                                             54642                              0.000
                                             54643                              1.338
        Erosion_Total_Silt                   0                                  0.000
                                             54642                              0.000
                                             54643                              1.338
        Erosion_Total_Small_Aggregate        0                                  0.000
                                             54642                              0.000
                                             54643                              1.338
        Erosion_Total_SnR                    0                                  0.000
                                             54642                              0.000
                                             54643                              1.338
        Erosion_Total_SnR_and_Gully_and_Pond 0                                  0.000
                                             54642                              0.000
                                             54643                              1.338

                                                      cell_erosion_by_mass_mg_per_yr  \
thuc_id description                          cell_id
3011    Erosion_Total_All_Sources            0                                 0.000
                                             54642                             0.000
                                             54643                             0.470
        Erosion_Total_Clay                   0                                 0.000
                                             54642                             0.000
                                             54643                             0.038
        Erosion_Total_Gully                  0                                 0.000
                                             54642                             0.000
                                             54643                             0.000
        Erosion_Total_Large_Aggregate        0                                 0.000
                                             54642                             0.000
                                             54643                             0.248
        Erosion_Total_Sand                   0                                 0.000
                                             54642                             0.000
                                             54643                             0.026
        Erosion_Total_Silt                   0                                 0.000
                                             54642                             0.000
                                             54643                             0.020
        Erosion_Total_Small_Aggregate        0                                 0.000
                                             54642                             0.000
                                             54643                             0.138
        Erosion_Total_SnR                    0                                 0.000
                                             54642                             0.000
                                             54643                             0.470
        Erosion_Total_SnR_and_Gully_and_Pond 0                                 0.000
                                             54642                             0.000
                                             54643                             0.470

                                                      cell_erosion_by_mass_percent  \
thuc_id description                          cell_id
3011    Erosion_Total_All_Sources            0                                 0.0
                                             54642                             0.0
                                             54643                           100.0
        Erosion_Total_Clay                   0                                 0.0
                                             54642                             0.0
                                             54643                           100.0
        Erosion_Total_Gully                  0                                 0.0
                                             54642                             0.0
                                             54643                             0.0
        Erosion_Total_Large_Aggregate        0                                 0.0
                                             54642                             0.0
                                             54643                           100.0
        Erosion_Total_Sand                   0                                 0.0
                                             54642                             0.0
                                             54643                           100.0
        Erosion_Total_Silt                   0                                 0.0
                                             54642                             0.0
                                             54643                           100.0
        Erosion_Total_Small_Aggregate        0                                 0.0
                                             54642                             0.0
                                             54643                           100.0
        Erosion_Total_SnR                    0                                 0.0
                                             54642                             0.0
                                             54643                           100.0
        Erosion_Total_SnR_and_Gully_and_Pond 0                                 0.0
                                             54642                             0.0
                                             54643                           100.0

                                                      accumulated_contributing_cell_erosion_percent
thuc_id description                          cell_id
3011    Erosion_Total_All_Sources            0                                                100.0
                                             54642                                            100.0
                                             54643                                            100.0

# Water yield

In [38]:
df3 = data['AnnAGNPS_AA_Water_yield_UA_RR_Total']

In [39]:
df3.head()

,description,total_yield_by_mass_mg_per_yr,cell_id,rank,cell_drainage_area_hectare,accumulated_contributing_cell_area_percent,cell_yield_by_unit_area_mm_per_year,yield_unit_area_ranking_ratio,cell_yield_by_mass_mg_per_yr,cell_yield_by_mass_percent,accumulated_contributing_cell_yield_percent,thuc_id
0,Water_Total,64420.991,54642,1,2.1600,25.26,1533.33,2.035,33119.932,51.41,51.41,3011
1,Water_Total,64420.991,0,2,0.0001,25.26,1533.33,2.035,1.533,0.00,51.41,3011
2,Water_Total,64420.991,54643,3,6.3900,100.00,489.82,0.650,31299.526,48.59,100.00,3011

In [40]:
df3.groupby(['thuc_id', 'description', 'cell_id']).sum()

                             total_yield_by_mass_mg_per_yr  rank  \
thuc_id description cell_id
3011    Water_Total 0                            64420.991     2
                    54642                        64420.991     1
                    54643                        64420.991     3

                             cell_drainage_area_hectare  \
thuc_id description cell_id
3011    Water_Total 0                            0.0001
                    54642                        2.1600
                    54643                        6.3900

                             accumulated_contributing_cell_area_percent  \
thuc_id description cell_id
3011    Water_Total 0                                             25.26
                    54642                                         25.26
                    54643                                        100.00

                             cell_yield_by_unit_area_mm_per_year  \
thuc_id description cell_id
3011    Water_Total 0                                    1533.33
                    54642                                1533.33
                    54643                                 489.82

                             yield_unit_area_ranking_ratio  \
thuc_id description cell_id
3011    Water_Total 0                                2.035
                    54642                            2.035
                    54643                            0.650

                             cell_yield_by_mass_mg_per_yr  \
thuc_id description cell_id
3011    Water_Total 0                               1.533
                    54642                       33119.932
                    54643                       31299.526

                             cell_yield_by_mass_percent  \
thuc_id description cell_id
3011    Water_Total 0                              0.00
                    54642                         51.41
                    54643                         48.59

                             accumulated_contributing_cell_yield_percent
thuc_id description cell_id
3011    Water_Total 0                                              51.41
                    54642                                          51.41
                    54643                                         100.00