In [1]:
from pyagnps import annagnps
from pathlib import Path

import pandas as pd

import importlib

Please install GDAL (see install_gdal.py). The subannagnps module will not work without it
Please install GDAL (see install_gdal.py). The topagnps module will not work without it

In [2]:
# sim_root_dir = Path('../../inputs/annagnps/test_1_reach_annagnps_outputs')
sim_root_dir = Path('C:/Users/Luc/Desktop/reach_0000000101')
# sim_root_dir = Path('C:/Users/Luc/Desktop/test_oow2/mini_watersheds/reach_0000095625')

In [3]:
data = annagnps.read_all_annagnps_output_files(sim_root_dir, prepare_for_db=True, thuc_id='1036')

In [4]:
list(data.keys())

['AnnAGNPS_AA',
 'AnnAGNPS_AA_Sediment_erosion_UA_RR_Total',
 'AnnAGNPS_AA_Sediment_yield_UA_RR_Total',
 'AnnAGNPS_AA_Water_yield_UA_RR_Total']

In [5]:
data['AnnAGNPS_AA_Water_yield_UA_RR_Total']

,description,total_yield_by_mass_mg_per_yr,cell_id,rank,cell_drainage_area_hectare,accumulated_contributing_cell_area_percent,cell_yield_by_unit_area_mm_per_year,yield_unit_area_ranking_ratio,cell_yield_by_mass_mg_per_yr,cell_yield_by_mass_percent,accumulated_contributing_cell_yield_percent,thuc_id
0,Water_Total,39907.711,1011,1,10.53,18.99,88.487,1.229,9317.668,23.35,23.35,1036
1,Water_Total,39907.711,1013,2,33.84,80.03,68.121,0.946,23052.088,57.76,81.11,1036
2,Water_Total,39907.711,1012,3,11.07,100.00,68.094,0.946,7537.953,18.89,100.00,1036

# Annual Averages (N, OC, P)

In [6]:
df = data['AnnAGNPS_AA']
df.head()

,cell_id,receiving_reach_id,drainage_area_ha,attached_n_kg_ha_yr,dissolved_n_kg_ha_yr,attached_oc_kg_ha_yr,dissolved_oc_kg_ha_yr,attached_p_kg_ha_yr,dissolved_p_kg_ha_yr,thuc_id
0,1011,101,10.53,0.000,0.049,0.002,0.0,0.000,0.088,1036
1,1012,101,11.07,0.075,0.048,0.491,0.0,0.019,0.098,1036
2,1013,101,33.84,0.126,0.059,0.821,0.0,0.032,0.098,1036

# Sediment yield

In [7]:
df1 = data['AnnAGNPS_AA_Sediment_yield_UA_RR_Total']
df1.head()

,description,total_yield_by_mass_mg_per_yr,cell_id,rank,cell_drainage_area_hectare,accumulated_contributing_cell_area_percent,cell_yield_by_unit_area_mg_per_hectare_per_year,yield_unit_area_ranking_ratio,cell_yield_by_mass_mg_per_yr,cell_yield_by_mass_percent,accumulated_contributing_cell_yield_percent,thuc_id
0,Sediment_Total_All_Sources,2.638,1013,1,33.84,61.04,0.06600,1.378,2.219,84.12,84.12,1036
1,Sediment_Total_All_Sources,2.638,1012,2,11.07,81.01,0.03800,0.793,0.418,15.84,99.95,1036
2,Sediment_Total_All_Sources,2.638,1011,3,10.53,100.00,0.00011,0.002,0.001,0.05,100.00,1036
0,Sediment_Total_Clay,0.269,1013,1,33.84,61.04,0.00700,1.370,0.225,83.60,83.60,1036
1,Sediment_Total_Clay,0.269,1012,2,11.07,81.01,0.00400,0.819,0.044,16.35,99.94,1036

In [8]:
df1.groupby(['thuc_id', 'description', 'cell_id']).sum()

                                                       total_yield_by_mass_mg_per_yr  \
thuc_id description                           cell_id
1036    Sediment_Total_All_Sources            1011                             2.638
                                              1012                             2.638
                                              1013                             2.638
        Sediment_Total_Clay                   1011                             0.269
                                              1012                             0.269
                                              1013                             0.269
        Sediment_Total_Gully                  1011                             0.000
                                              1012                             0.000
                                              1013                             0.000
        Sediment_Total_Sand                   1011                             2.025
                                              1012                             2.025
                                              1013                             2.025
        Sediment_Total_Silt                   1011                             0.344
                                              1012                             0.344
                                              1013                             0.344
        Sediment_Total_SnR                    1011                             2.638
                                              1012                             2.638
                                              1013                             2.638
        Sediment_Total_SnR_and_Gully_and_Pond 1011                             2.638
                                              1012                             2.638
                                              1013                             2.638

                                                       rank  \
thuc_id description                           cell_id
1036    Sediment_Total_All_Sources            1011        3
                                              1012        2
                                              1013        1
        Sediment_Total_Clay                   1011        3
                                              1012        2
                                              1013        1
        Sediment_Total_Gully                  1011        1
                                              1012        2
                                              1013        3
        Sediment_Total_Sand                   1011        3
                                              1012        2
                                              1013        1
        Sediment_Total_Silt                   1011        3
                                              1012        2
                                              1013        1
        Sediment_Total_SnR                    1011        3
                                              1012        2
                                              1013        1
        Sediment_Total_SnR_and_Gully_and_Pond 1011        3
                                              1012        2
                                              1013        1

                                                       cell_drainage_area_hectare  \
thuc_id description                           cell_id
1036    Sediment_Total_All_Sources            1011                          10.53
                                              1012                          11.07
                                              1013                          33.84
        Sediment_Total_Clay                   1011                          10.53
                                              1012                          11.07
                                              1013                          33.84
        Sediment_Total_Gully                  1011                          10.53
                                              1012                          11.07
                                              1013                          33.84
        Sediment_Total_Sand                   1011                          10.53
                                              1012                          11.07
                                              1013                          33.84
        Sediment_Total_Silt                   1011                          10.53
                                              1012                          11.07
                                              1013                          33.84
        Sediment_Total_SnR                    1011                          10.53
                                              1012                          11.07
                                              1013                          33.84
        Sediment_Total_SnR_and_Gully_and_Pond 1011                          10.53
                                              1012                          11.07
                                              1013                          33.84

                                                       accumulated_contributing_cell_area_percent  \
thuc_id description                           cell_id
1036    Sediment_Total_All_Sources            1011                                         100.00
                                              1012                                          81.01
                                              1013                                          61.04
        Sediment_Total_Clay                   1011                                         100.00
                                              1012                                          81.01
                                              1013                                          61.04
        Sediment_Total_Gully                  1011                                          18.99
                                              1012                                          38.96
                                              1013                                         100.00
        Sediment_Total_Sand                   1011                                         100.00
                                              1012                                          81.01
                                              1013                                          61.04
        Sediment_Total_Silt                   1011                                         100.00
                                              1012                                          81.01
                                              1013                                          61.04
        Sediment_Total_SnR                    1011                                         100.00
                                              1012                                          81.01
                                              1013                                          61.04
        Sediment_Total_SnR_and_Gully_and_Pond 1011                                         100.00
                                              1012                                          81.01
                                              1013                                          61.04

                                                       cell_yield_by_unit_area_mg_per_hectare_per_year  \
thuc_id description                           cell_id
1036    Sediment_Total_All_Sources            1011                                            0.000110
                                              1012                                            0.038000
                                              1013                                            0.066000
        Sediment_Total_Clay                   1011                                            0.000014
                                              1012                                            0.004000
                                              1013                                            0.007000
        Sediment_Total_Gully                  1011                                            0.000000
                                              1012                                            0.000000
                                              1013                                            0.000000
        Sediment_Total_Sand                   1011                                            0.000082
                                              1012                                            0.029000
                                              1013                                            0.050000
        Sediment_Total_Silt                   1011                                            0.000018
                                              1012                                            0.005000
                                              1013                                            0.008000
        Sediment_Total_SnR                    1011                                            0.000110
                                              1012                                            0.038000
                                              1013                                            0.066000
        Sediment_Total_SnR_and_Gully_and_Pond 1011                                            0.000110
                                              1012                                            0.038000
                                              1013                                            0.066000

                                                       yield_unit_area_ranking_ratio  \
thuc_id description                           cell_id
1036    Sediment_Total_All_Sources            1011                             0.002
                                              1012                             0.793
                                              1013                             1.378
        Sediment_Total_Clay                   1011                             0.003
                                              1012                             0.819
                                              1013                             1.370
        Sediment_Total_Gully                  1011                             0.000
                                              1012                             0.000
                                              1013                             0.000
        Sediment_Total_Sand                   1011                             0.002
                                              1012                             0.786
                                              1013                             1.381
        Sediment_Total_Silt                   1011                             0.003
                                              1012                             0.816
                                              1013                             1.370
        Sediment_Total_SnR                    1011                             0.002
                                              1012                             0.793
                                              1013                             1.378
        Sediment_Total_SnR_and_Gully_and_Pond 1011                             0.002
                                              1012                             0.793
                                              1013                             1.378

                                                       cell_yield_by_mass_mg_per_yr  \
thuc_id description                           cell_id
1036    Sediment_Total_All_Sources            1011                          0.00100
                                              1012                          0.41800
                                              1013                          2.21900
        Sediment_Total_Clay                   1011                          0.00015
                                              1012                          0.04400
                                              1013                          0.22500
        Sediment_Total_Gully                  1011                          0.00000
                                              1012                          0.00000
                                              1013                          0.00000
        Sediment_Total_Sand                   1011                          0.00087
                                              1012                          0.31800
                                              1013                          1.70600
        Sediment_Total_Silt                   1011                          0.00019
                                              1012                          0.05600
                                              1013                          0.28800
        Sediment_Total_SnR                    1011                          0.00100
                                              1012                          0.41800
                                              1013                          2.21900
        Sediment_Total_SnR_and_Gully_and_Pond 1011                          0.00100
                                              1012                          0.41800
                                              1013                          2.21900

                                                       cell_yield_by_mass_percent  \
thuc_id description                           cell_id
1036    Sediment_Total_All_Sources            1011                           0.05
                                              1012                          15.84
                                              1013                          84.12
        Sediment_Total_Clay                   1011                           0.06
                                              1012                          16.35
                                              1013                          83.60
        Sediment_Total_Gully                  1011                           0.00
                                              1012                           0.00
                                              1013                           0.00
        Sediment_Total_Sand                   1011                           0.04
                                              1012                          15.69
                                              1013                          84.26
        Sediment_Total_Silt                   1011                           0.05
                                              1012                          16.30
                                              1013                          83.65
        Sediment_Total_SnR                    1011                           0.05
                                              1012                          15.84
                                              1013                          84.12
        Sediment_Total_SnR_and_Gully_and_Pond 1011                           0.05
                                              1012                          15.84
                                              1013                          84.12

                                                       accumulated_contributing_cell_yield_percent
thuc_id description                           cell_id
1036    Sediment_Total_All_Sources            1011                                          100.00
                                              1012                                           99.95
                                              1013                                           84.12
        Sediment_Total_Clay                   1011                                          100.00
                                              1012                                           99.94
                                              1013                                           83.60
        Sediment_Total_Gully                  1011                                            0.00
                                              1012                                            0.00
                                              1013                                            0.00
        Sediment_Total_Sand                   1011                                          100.00
                                              1012                                           99.96
                                              1013                                           84.26
        Sediment_Total_Silt                   1011                                          100.00
                                              1012                                           99.95
                                              1013                                           83.65
        Sediment_Total_SnR                    1011                                          100.00
                                              1012                                           99.95
                                              1013                                           84.12
        Sediment_Total_SnR_and_Gully_and_Pond 1011                                          100.00
                                              1012                                           99.95
                                              1013                                           84.12

# Sediment erosion

In [9]:
df2 = data['AnnAGNPS_AA_Sediment_erosion_UA_RR_Total']
df2.head()

,description,total_erosion_by_mass_mg_per_yr,cell_id,rank,cell_drainage_area_hectare,accumulated_contributing_cell_area_percent,cell_erosion_by_unit_area_mg_per_hectare_per_year,erosion_unit_area_ranking_ratio,cell_erosion_by_mass_mg_per_yr,cell_erosion_by_mass_percent,accumulated_contributing_cell_erosion_percent,thuc_id
0,Erosion_Total_All_Sources,5.031,1013,1,33.84,61.04,0.12400,1.369,4.204,83.57,83.57,1036
1,Erosion_Total_All_Sources,5.031,1012,2,11.07,81.01,0.07400,0.820,0.824,16.37,99.94,1036
2,Erosion_Total_All_Sources,5.031,1011,3,10.53,100.00,0.00028,0.003,0.003,0.06,100.00,1036
0,Erosion_Total_Clay,0.074,1013,1,33.84,61.04,0.00200,1.369,0.061,83.57,83.57,1036
1,Erosion_Total_Clay,0.074,1012,2,11.07,81.01,0.00100,0.820,0.012,16.37,99.94,1036

In [10]:
df2.groupby(['thuc_id', 'description', 'cell_id']).sum()

                                                      total_erosion_by_mass_mg_per_yr  \
thuc_id description                          cell_id
1036    Erosion_Total_All_Sources            1011                               5.031
                                             1012                               5.031
                                             1013                               5.031
        Erosion_Total_Clay                   1011                               0.074
                                             1012                               0.074
                                             1013                               0.074
        Erosion_Total_Gully                  1011                               0.000
                                             1012                               0.000
                                             1013                               0.000
        Erosion_Total_Large_Aggregate        1011                               1.304
                                             1012                               1.304
                                             1013                               1.304
        Erosion_Total_Sand                   1011                               3.264
                                             1012                               3.264
                                             1013                               3.264
        Erosion_Total_Silt                   1011                               0.001
                                             1012                               0.001
                                             1013                               0.001
        Erosion_Total_Small_Aggregate        1011                               0.389
                                             1012                               0.389
                                             1013                               0.389
        Erosion_Total_SnR                    1011                               5.031
                                             1012                               5.031
                                             1013                               5.031
        Erosion_Total_SnR_and_Gully_and_Pond 1011                               5.031
                                             1012                               5.031
                                             1013                               5.031

                                                      rank  \
thuc_id description                          cell_id
1036    Erosion_Total_All_Sources            1011        3
                                             1012        2
                                             1013        1
        Erosion_Total_Clay                   1011        3
                                             1012        2
                                             1013        1
        Erosion_Total_Gully                  1011        1
                                             1012        2
                                             1013        3
        Erosion_Total_Large_Aggregate        1011        3
                                             1012        2
                                             1013        1
        Erosion_Total_Sand                   1011        3
                                             1012        2
                                             1013        1
        Erosion_Total_Silt                   1011        3
                                             1012        2
                                             1013        1
        Erosion_Total_Small_Aggregate        1011        3
                                             1012        2
                                             1013        1
        Erosion_Total_SnR                    1011        3
                                             1012        2
                                             1013        1
        Erosion_Total_SnR_and_Gully_and_Pond 1011        3
                                             1012        2
                                             1013        1

                                                      cell_drainage_area_hectare  \
thuc_id description                          cell_id
1036    Erosion_Total_All_Sources            1011                          10.53
                                             1012                          11.07
                                             1013                          33.84
        Erosion_Total_Clay                   1011                          10.53
                                             1012                          11.07
                                             1013                          33.84
        Erosion_Total_Gully                  1011                          10.53
                                             1012                          11.07
                                             1013                          33.84
        Erosion_Total_Large_Aggregate        1011                          10.53
                                             1012                          11.07
                                             1013                          33.84
        Erosion_Total_Sand                   1011                          10.53
                                             1012                          11.07
                                             1013                          33.84
        Erosion_Total_Silt                   1011                          10.53
                                             1012                          11.07
                                             1013                          33.84
        Erosion_Total_Small_Aggregate        1011                          10.53
                                             1012                          11.07
                                             1013                          33.84
        Erosion_Total_SnR                    1011                          10.53
                                             1012                          11.07
                                             1013                          33.84
        Erosion_Total_SnR_and_Gully_and_Pond 1011                          10.53
                                             1012                          11.07
                                             1013                          33.84

                                                      accumulated_contributing_cell_area_percent  \
thuc_id description                          cell_id
1036    Erosion_Total_All_Sources            1011                                         100.00
                                             1012                                          81.01
                                             1013                                          61.04
        Erosion_Total_Clay                   1011                                         100.00
                                             1012                                          81.01
                                             1013                                          61.04
        Erosion_Total_Gully                  1011                                          18.99
                                             1012                                          38.96
                                             1013                                         100.00
        Erosion_Total_Large_Aggregate        1011                                         100.00
                                             1012                                          81.01
                                             1013                                          61.04
        Erosion_Total_Sand                   1011                                         100.00
                                             1012                                          81.01
                                             1013                                          61.04
        Erosion_Total_Silt                   1011                                         100.00
                                             1012                                          81.01
                                             1013                                          61.04
        Erosion_Total_Small_Aggregate        1011                                         100.00
                                             1012                                          81.01
                                             1013                                          61.04
        Erosion_Total_SnR                    1011                                         100.00
                                             1012                                          81.01
                                             1013                                          61.04
        Erosion_Total_SnR_and_Gully_and_Pond 1011                                         100.00
                                             1012                                          81.01
                                             1013                                          61.04

                                                      cell_erosion_by_unit_area_mg_per_hectare_per_year  \
thuc_id description                          cell_id
1036    Erosion_Total_All_Sources            1011                                          2.800000e-04
                                             1012                                          7.400000e-02
                                             1013                                          1.240000e-01
        Erosion_Total_Clay                   1011                                          4.000000e-06
                                             1012                                          1.000000e-03
                                             1013                                          2.000000e-03
        Erosion_Total_Gully                  1011                                          0.000000e+00
                                             1012                                          0.000000e+00
                                             1013                                          0.000000e+00
        Erosion_Total_Large_Aggregate        1011                                          7.200000e-05
                                             1012                                          1.900000e-02
                                             1013                                          3.200000e-02
        Erosion_Total_Sand                   1011                                          1.800000e-04
                                             1012                                          4.800000e-02
                                             1013                                          8.100000e-02
        Erosion_Total_Silt                   1011                                          2.800000e-08
                                             1012                                          7.400000e-06
                                             1013                                          1.200000e-05
        Erosion_Total_Small_Aggregate        1011                                          2.100000e-05
                                             1012                                          6.000000e-03
                                             1013                                          1.000000e-02
        Erosion_Total_SnR                    1011                                          2.800000e-04
                                             1012                                          7.400000e-02
                                             1013                                          1.240000e-01
        Erosion_Total_SnR_and_Gully_and_Pond 1011                                          2.800000e-04
                                             1012                                          7.400000e-02
                                             1013                                          1.240000e-01

                                                      erosion_unit_area_ranking_ratio  \
thuc_id description                          cell_id
1036    Erosion_Total_All_Sources            1011                               0.003
                                             1012                               0.820
                                             1013                               1.369
        Erosion_Total_Clay                   1011                               0.003
                                             1012                               0.820
                                             1013                               1.369
        Erosion_Total_Gully                  1011                               0.000
                                             1012                               0.000
                                             1013                               0.000
        Erosion_Total_Large_Aggregate        1011                               0.003
                                             1012                               0.820
                                             1013                               1.369
        Erosion_Total_Sand                   1011                               0.003
                                             1012                               0.820
                                             1013                               1.369
        Erosion_Total_Silt                   1011                               0.003
                                             1012                               0.820
                                             1013                               1.369
        Erosion_Total_Small_Aggregate        1011                               0.003
                                             1012                               0.820
                                             1013                               1.369
        Erosion_Total_SnR                    1011                               0.003
                                             1012                               0.820
                                             1013                               1.369
        Erosion_Total_SnR_and_Gully_and_Pond 1011                               0.003
                                             1012                               0.820
                                             1013                               1.369

                                                      cell_erosion_by_mass_mg_per_yr  \
thuc_id description                          cell_id
1036    Erosion_Total_All_Sources            1011                       3.000000e-03
                                             1012                       8.240000e-01
                                             1013                       4.204000e+00
        Erosion_Total_Clay                   1011                       4.300000e-05
                                             1012                       1.200000e-02
                                             1013                       6.100000e-02
        Erosion_Total_Gully                  1011                       0.000000e+00
                                             1012                       0.000000e+00
                                             1013                       0.000000e+00
        Erosion_Total_Large_Aggregate        1011                       7.600000e-04
                                             1012                       2.140000e-01
                                             1013                       1.090000e+00
        Erosion_Total_Sand                   1011                       2.000000e-03
                                             1012                       5.350000e-01
                                             1013                       2.728000e+00
        Erosion_Total_Silt                   1011                       2.900000e-07
                                             1012                       8.200000e-05
                                             1013                       4.200000e-04
        Erosion_Total_Small_Aggregate        1011                       2.300000e-04
                                             1012                       6.400000e-02
                                             1013                       3.250000e-01
        Erosion_Total_SnR                    1011                       3.000000e-03
                                             1012                       8.240000e-01
                                             1013                       4.204000e+00
        Erosion_Total_SnR_and_Gully_and_Pond 1011                       3.000000e-03
                                             1012                       8.240000e-01
                                             1013                       4.204000e+00

                                                      cell_erosion_by_mass_percent  \
thuc_id description                          cell_id
1036    Erosion_Total_All_Sources            1011                             0.06
                                             1012                            16.37
                                             1013                            83.57
        Erosion_Total_Clay                   1011                             0.06
                                             1012                            16.37
                                             1013                            83.57
        Erosion_Total_Gully                  1011                             0.00
                                             1012                             0.00
                                             1013                             0.00
        Erosion_Total_Large_Aggregate        1011                             0.06
                                             1012                            16.37
                                             1013                            83.57
        Erosion_Total_Sand                   1011                             0.06
                                             1012                            16.37
                                             1013                            83.57
        Erosion_Total_Silt                   1011                             0.06
                                             1012                            16.37
                                             1013                            83.57
        Erosion_Total_Small_Aggregate        1011                             0.06
                                             1012                            16.37
                                             1013                            83.57
        Erosion_Total_SnR                    1011                             0.06
                                             1012                            16.37
                                             1013                            83.57
        Erosion_Total_SnR_and_Gully_and_Pond 1011                             0.06
                                             1012                            16.37
                                             1013                            83.57

                                                      accumulated_contributing_cell_erosion_percent
thuc_id description                          cell_id
1036    Erosion_Total_All_Sources            1011                                            100.00
                                             1012                                             99.94
                                             1013                                             83.57

# Water yield

In [11]:
df3 = data['AnnAGNPS_AA_Water_yield_UA_RR_Total']

In [12]:
df3.head()

,description,total_yield_by_mass_mg_per_yr,cell_id,rank,cell_drainage_area_hectare,accumulated_contributing_cell_area_percent,cell_yield_by_unit_area_mm_per_year,yield_unit_area_ranking_ratio,cell_yield_by_mass_mg_per_yr,cell_yield_by_mass_percent,accumulated_contributing_cell_yield_percent,thuc_id
0,Water_Total,39907.711,1011,1,10.53,18.99,88.487,1.229,9317.668,23.35,23.35,1036
1,Water_Total,39907.711,1013,2,33.84,80.03,68.121,0.946,23052.088,57.76,81.11,1036
2,Water_Total,39907.711,1012,3,11.07,100.00,68.094,0.946,7537.953,18.89,100.00,1036

In [13]:
df3.groupby(['thuc_id', 'description', 'cell_id']).sum()

                             total_yield_by_mass_mg_per_yr  rank  \
thuc_id description cell_id
1036    Water_Total 1011                         39907.711     1
                    1012                         39907.711     3
                    1013                         39907.711     2

                             cell_drainage_area_hectare  \
thuc_id description cell_id
1036    Water_Total 1011                          10.53
                    1012                          11.07
                    1013                          33.84

                             accumulated_contributing_cell_area_percent  \
thuc_id description cell_id
1036    Water_Total 1011                                          18.99
                    1012                                         100.00
                    1013                                          80.03

                             cell_yield_by_unit_area_mm_per_year  \
thuc_id description cell_id
1036    Water_Total 1011                                  88.487
                    1012                                  68.094
                    1013                                  68.121

                             yield_unit_area_ranking_ratio  \
thuc_id description cell_id
1036    Water_Total 1011                             1.229
                    1012                             0.946
                    1013                             0.946

                             cell_yield_by_mass_mg_per_yr  \
thuc_id description cell_id
1036    Water_Total 1011                         9317.668
                    1012                         7537.953
                    1013                        23052.088

                             cell_yield_by_mass_percent  \
thuc_id description cell_id
1036    Water_Total 1011                          23.35
                    1012                          18.89
                    1013                          57.76

                             accumulated_contributing_cell_yield_percent
thuc_id description cell_id
1036    Water_Total 1011                                           23.35
                    1012                                          100.00
                    1013                                           81.11