In [ ]:
from pathlib import Path
import pandas as pd

In [17]:
# ssurgo_files_dir = Path("/aims-nas/luc/thuc_soils_shapefiles/")
# thucs_to_delete = pd.read_csv(ssurgo_files_dir / '/tmp/thuc_redo_soil.csv')

In [20]:
ssurgo_files_dir = Path("../../tmp/")
thucs_to_delete = pd.read_csv(ssurgo_files_dir / 'thuc_redo_soil.csv')

In [21]:
thucs_to_delete

      tophucid
0         1955
1         1944
2         1948
3         1216
4         1962
...        ...
1735      4789
1736      4781
1737      4785
1738      4795
1739      4780

[1740 rows x 1 columns]

In [23]:
for row in ['0001']: #thucs_to_delete.itertuples():
    # thuc_id = str(row[1])
    thuc_id = row
    
    thuc_del = ssurgo_files_dir / f"thuc_{thuc_id}_ssurgo"
    thuc_del.rmdir()