In [4]:
import sys
import os
# import pyagnps

In [9]:
import socket

socket.getfqdn()

'Luc-NCCHE-XPS.nat.olemiss.edu'

In [11]:
'True' == True

False

In [7]:
from pyagnps.utils import log_to_file

log_to_file("bonjour.log", "bonjour")

In [7]:
import geopandas as gpd
import json
from pathlib import Path

from sqlalchemy import create_engine, URL

In [3]:
gdf = gpd.read_file("../inputs/climate/NLDAS2_GRID_CENTROIDS_epsg4326.gpkg")

In [12]:
gdf = gdf.rename(columns={"nldas2_grid_ID": "station_id"})

In [13]:
gdf

        station_id                     geometry
0           103473  POINT (-124.93750 52.93750)
1           103474  POINT (-124.81250 52.93750)
2           103475  POINT (-124.68750 52.93750)
3           103476  POINT (-124.56250 52.93750)
4           103477  POINT (-124.43750 52.93750)
...            ...                          ...
103931         460   POINT (-67.56250 25.06250)
103932         461   POINT (-67.43750 25.06250)
103933         462   POINT (-67.31250 25.06250)
103934         463   POINT (-67.18750 25.06250)
103935         464   POINT (-67.06250 25.06250)

[103936 rows x 2 columns]

In [18]:
path_to_creds_menderes = Path("../inputs/db_credentials.json")

with open(path_to_creds_menderes, "r") as f:
    creds = json.load(f)


db_url = URL.create(
                "postgresql",
                username=creds['user'],
                password=creds['password'],
                host=creds['host'],
                port=creds['port'],
                database=creds['database']
                )


engine = create_engine(db_url)

In [19]:
# Populate database with table called "nldas2_grid_centroids" using to_postgis()

gdf.to_postgis("nldas2_grid_centroids", engine, if_exists="replace", index=False)