In [1]:
from pathlib import Path
import json
import pandas as pd
from sqlalchemy import URL, create_engine, text as sql_text

In [2]:
credentials = Path('../../inputs/db_credentials.json')
with open(credentials, 'r') as f:
    credentials = json.load(f)

user     = credentials['user']
password = credentials['password']
host     = credentials['host']
port     = credentials['port']
database = credentials['database']

# Create db connection object
url_object = URL.create(
    "postgresql",
    username=user,
    password=password,
    host=host,
    port=port,
    database=database
)

# create a SQLAlchemy engine object
engine = create_engine(url_object)

In [65]:
# root_dir = Path('C:/Users/Luc/projects/pyagnps/inputs/soil/ALL_US_v3_SSURGO_STATSGO2_RSS')
root_dir = Path('C:/Users/Luc/projects/pyagnps/inputs/management/templates')

df_crop = pd.read_csv(root_dir / 'AnnAGNPS_Crop_Data.csv')
df_crop_growth = pd.read_csv(root_dir / 'AnnAGNPS_Crop_Growth_Data.csv')
df_non_crop = pd.read_csv(root_dir / 'AnnAGNPS_Non_Crop_Data.csv')

df_mgmt_field = pd.read_csv(root_dir / 'AnnAGNPS_Management_Field_Data.csv')
df_mgmt_oper = pd.read_csv(root_dir / 'AnnAGNPS_Management_Operation_Data.csv')
df_mgmt_schd = pd.read_csv(root_dir / 'AnnAGNPS_Management_Schedule_Data.csv')

df_roc = pd.read_csv(root_dir / 'Runoff_Curve_Number_Data.csv')

tbl_name_crop = 'annagnps_crop'
tbl_name_crop_growth = 'annagnps_crop_growth'
tbl_name_non_crop = 'annagnps_non_crop'

tbl_name_mgmt_field = 'annagnps_mgmt_field'
tbl_name_mgmt_oper = 'annagnps_mgmt_oper'
tbl_name_mgmt_schd = 'annagnps_mgmt_schd'

tbl_name_roc = 'annagnps_runoff_curve'


df_ann_id = pd.read_csv(root_dir / 'AnnAGNPS_ID.csv').fillna('')

df_opts_aa = pd.read_csv(root_dir / 'Output_Options_AA.csv').fillna('')
df_opts_global = pd.read_csv(root_dir / 'Output_Options_Global.csv').fillna('')
df_opts_tbl = pd.read_csv(root_dir / 'Output_Options_tbl.csv').fillna('')

In [69]:
DEFAULT_ANNAGNPS_ID = [
    ('Version', 6.0),
    ('Input_Units', 1),
    ('Output_Units', 1),
    ('CCHE1D_Output_Units', float('nan')),
    ('Screen_Output_Units', float('nan'))
]

columns, vals = zip(*DEFAULT_ANNAGNPS_ID)

pd.DataFrame([vals], columns=columns).to_csv('prout.csv',index=False)

In [66]:
df = df_ann_id

list(zip(df.columns, df.iloc[0]))

# print(df.to_dict(orient='split'))

# print(df.to_dict(orient='split')['columns'])
# print(df.to_dict(orient='split')['data'])

[('Version', 6.0),
 ('Input_Units', 1),
 ('Output_Units', 1),
 ('CCHE1D_Output_Units', ''),
 ('Screen_Output_Units', '')]

[('Reserved', ''),
 ('Reserved.1', ''),
 ('Reserved.2', ''),
 ('Reserved.3', ''),
 ('Reserved.4', ''),
 ('Reserved.5', ''),
 ('AA_Gullies_Erosion', ''),
 ('Reserved.6', ''),
 ('Reserved.7', ''),
 ('AA_N_Ld_Mass', ''),
 ('AA_N_Ld_Ratio', ''),
 ('AA_N_Ld_UA', ''),
 ('AA_N_Yld_Mass', ''),
 ('AA_N_Yld_Ratio', ''),
 ('AA_N_Yld_UA', ''),
 ('AA_OC_Ld_Mass', ''),
 ('AA_OC_Ld_Ratio', ''),
 ('AA_OC_Ld_UA', ''),
 ('AA_OC_Yld_Mass', ''),
 ('AA_OC_Yld_Ratio', ''),
 ('AA_OC_Yld_UA', ''),
 ('Reserved.8', ''),
 ('Reserved.9', ''),
 ('Reserved.10', ''),
 ('Reserved.11', ''),
 ('Reserved.12', ''),
 ('Reserved.13', ''),
 ('AA_P_Ld_Mass', ''),
 ('AA_P_Ld_Ratio', ''),
 ('AA_P_Ld_UA', ''),
 ('AA_P_Yld_Mass', ''),
 ('AA_P_Yld_Ratio', ''),
 ('AA_P_Yld_UA', ''),
 ('Reserved.14', ''),
 ('Reserved.15', ''),
 ('Reserved.16', ''),
 ('AA_Sed_Eros_Mass', ''),
 ('AA_Sed_Eros_Ratio', ''),
 ('AA_Sed_Eros_UA', 'T'),
 ('AA_Sed_Ld_Mass', ''),
 ('AA_Sed_Ld_Ratio', ''),
 ('AA_Sed_Ld_UA', ''),
 ('AA_Sed_Yld_Mass', ''),
 ('AA_Sed_Yld_Ratio', ''),
 ('AA_Sed_Yld_UA', 'T'),
 ('AA_Wtr_Ld_Mass', ''),
 ('AA_Wtr_Ld_Ratio', ''),
 ('AA_Wtr_Ld_UA', ''),
 ('AA_Wtr_Yld_Mass', ''),
 ('AA_Wtr_Yld_Ratio', ''),
 ('AA_Wtr_Yld_UA', 'T')]

## Populate database with tables

Populate `annagnps_crop` table

In [4]:
# create a new table in the database
with engine.connect() as conn:
    # start a transaction
    trans = conn.begin()

    try:
        # create a table with the same column names and data types as the DataFrame
        df_crop.to_sql(name=tbl_name_crop, con=conn, index=False, if_exists='replace')

        # commit the transaction if there were no errors
        trans.commit()

    except Exception as e:
        # rollback the transaction if there was an error
        trans.rollback()
        raise e

Populate `annagnps_crop_growth` table

In [5]:
# create a new table in the database
with engine.connect() as conn:
    # start a transaction
    trans = conn.begin()

    try:
        # create a table with the same column names and data types as the DataFrame
        df_crop_growth.to_sql(name=tbl_name_crop_growth, con=conn, index=False, if_exists='replace')

        # commit the transaction if there were no errors
        trans.commit()

    except Exception as e:
        # rollback the transaction if there was an error
        trans.rollback()
        raise e

Populate `annagnps_non_crop` table

In [6]:
# create a new table in the database
with engine.connect() as conn:
    # start a transaction
    trans = conn.begin()

    try:
        # create a table with the same column names and data types as the DataFrame
        df_non_crop.to_sql(name=tbl_name_non_crop, con=conn, index=False, if_exists='replace')

        # commit the transaction if there were no errors
        trans.commit()

    except Exception as e:
        # rollback the transaction if there was an error
        trans.rollback()
        raise e

Populate `annagnps_mgmt_field` table

In [7]:
# create a new table in the database
with engine.connect() as conn:
    # start a transaction
    trans = conn.begin()

    try:
        # create a table with the same column names and data types as the DataFrame
        df_mgmt_field.to_sql(name=tbl_name_mgmt_field, con=conn, index=False, if_exists='replace')

        # commit the transaction if there were no errors
        trans.commit()

    except Exception as e:
        # rollback the transaction if there was an error
        trans.rollback()
        raise e

Populate `annagnps_mgmt_oper` table

In [8]:
# create a new table in the database
with engine.connect() as conn:
    # start a transaction
    trans = conn.begin()

    try:
        # create a table with the same column names and data types as the DataFrame
        df_mgmt_oper.to_sql(name=tbl_name_mgmt_oper, con=conn, index=False, if_exists='replace')

        # commit the transaction if there were no errors
        trans.commit()

    except Exception as e:
        # rollback the transaction if there was an error
        trans.rollback()
        raise e

Populate `annagnps_mgmt_schd` table

In [9]:
# create a new table in the database
with engine.connect() as conn:
    # start a transaction
    trans = conn.begin()

    try:
        # create a table with the same column names and data types as the DataFrame
        df_mgmt_schd.to_sql(name=tbl_name_mgmt_schd, con=conn, index=False, if_exists='replace')

        # commit the transaction if there were no errors
        trans.commit()

    except Exception as e:
        # rollback the transaction if there was an error
        trans.rollback()
        raise e

Populate `annagnps_runoff_curve` table

In [10]:
# create a new table in the database
with engine.connect() as conn:
    # start a transaction
    trans = conn.begin()

    try:
        # create a table with the same column names and data types as the DataFrame
        df_roc.to_sql(name=tbl_name_roc, con=conn, index=False, if_exists='replace')

        # commit the transaction if there were no errors
        trans.commit()

    except Exception as e:
        # rollback the transaction if there was an error
        trans.rollback()
        raise e

## Check that it worked

In [11]:
mgmt_tables = [
'annagnps_crop',
'annagnps_crop_growth',
'annagnps_non_crop',
'annagnps_mgmt_field',
'annagnps_mgmt_oper',
'annagnps_mgmt_schd',
'annagnps_runoff_curve'
]

In [20]:
query = f"SELECT * FROM {mgmt_tables[6]} LIMIT 100"

with engine.connect() as conn:

    try:

        df_check = pd.read_sql_query(sql=sql_text(query), con=conn)

    except Exception as e:

        raise e
    
df_check

                  Curve_Number_ID  CN_A  CN_B  CN_C  CN_D
0               Open_Space_(Poor)  68.0  79.0  86.0  89.0
1               Open_Space_(Fair)  49.0  69.0  79.0  84.0
2               Open_Space_(Good)  39.0  61.0  74.0  80.0
3                      Impervious  98.0  98.0  98.0  98.0
4                   Roads_(Paved)  98.0  98.0  98.0  98.0
..                            ...   ...   ...   ...   ...
76     Rangeland_(Sagebrush_Fair)  30.0  51.0  63.0  70.0
77     Rangeland_(Sagebrush_Good)  30.0  35.0  47.0  55.0
78  Rangeland_(Desert_Shrub_Poor)  63.0  77.0  85.0  88.0
79  Rangeland_(Desert_Shrub_Fair)  55.0  72.0  81.0  86.0
80  Rangeland_(Desert_Shrub_Good)  49.0  68.0  79.0  84.0

[81 rows x 5 columns]